body {
  font-family: "Inter";
}
.container {
  width: 527px;
  height: 1326px;
  background-color: #e2e1e1;
  margin: auto;
}
.card {
  position: relative;
  top: 90px;
  background-color: #ffffff;
  width: 276px;
  height: 345px;
  border-radius: 12px;
  margin: auto;
  margin-bottom: 32px;
  overflow: hidden;
}
.card-image {
  width: 276px;
  height: 176px;
  object-fit: cover;
}
.card-date-container {
  position: absolute;
  background-color: #ffffff;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  top: 148px;
  left: 204px;
  text-align: center;
  box-shadow: 0px 1px 4px 0px #60617029;
}
.card-date-day-text {
  padding-top: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.card-date-month-text {
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.card2-border-shadow {
  border: 3px solid;
  border-color: #3e7fe1;
  box-shadow: 8px 13px 23px 9px #3e7fe14d;
}
.article-title-block {
  padding: 32px 16px 16px 16px;
}
.article-title-type {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #959393;
}
.article-title-name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12px;
}
