body {
  background-color: aquamarine;
}

div {
  background-color: rgb(255, 235, 205);
  max-width: 80%;
  margin: 5em auto;
}
#pirmas {
  border: 12px solid orangered;
  box-shadow: 5px 5px 15px black;
}
#antras {
  padding: 5em;
  border-radius: 150px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

#trecias {
  padding: 5em 0;
  border-bottom: 10px solid blueviolet;
  border-right: 15px dashed lightcoral;
}

#ketvirtas {
  padding: 0 5em 1em;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 50px;
}

#penktas {
  padding-bottom: 5em;
  border-left: 10px dashed powderblue;
}
#sestas li {
  display: inline-block;
}

#septintas form {
  background-color: rosybrown;
  width: 500px;
  padding: 1em;
}

#septintas input {
  display: block;
}

.divas p {
  font-size: 2em;
}
.divas a {
  font-size: 2em;
}
.divas mark:hover {
  position: relative;
  bottom: 10px;
}
.divas a:hover {
  position: relative;
  left: 20px;
}
