body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  gap: 25px;
  font-size: 48px;
  font-weight: bold;
}

header {
  grid-column: 1 / 8;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e4ddf4;
  border-radius: 8px;
}
.sidebar {
  grid-column: 1/3;
  grid-row: 2/8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4ddf4;
  border-radius: 12px;
}

main {
  grid-column: 3 / 8;
  grid-row: 2 / 8;
  background-color: #e4ddf4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-column: 1 / 8;
  grid-row: 8 / 9;
  background-color: #e4ddf4;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
