<%- include('partials/header.ejs', {menu: menu, url}) %>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eveniet
  recusandae at alias autem laborum earum similique asperiores quo, sed
  molestias sequi quos inventore natus quisquam, reiciendis atque veniam neque!
</div>
<div>
  <% projects.forEach((element) => { %> <% console.log(element); %>
  <h2><%=element.title %></h2>
  <p><%=element.description%></p>
  <%}); %>
</div>
