body {
  font-size: 128px;
  line-height: 128px;
  letter-spacing: 0.2px;
  text-align: center;
}
#first {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}
#second {
  width: 100vw;
  height: 100vh;
  background-color: greenyellow;
}
#third {
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
}
#fourth {
  width: 100vw;
  height: 100vh;
  background-color: palevioletred;
}
#fifth {
  width: 100vw;
  height: 100vh;
  background-color: gainsboro;
}
