body {
  font-family: "Montserrat";
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
}
* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./images/backgroundImage.png);
  width: 100vw;
  height: 100vh;
}

header {
  width: 100vw;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1% 10%; */
  margin: auto;
  max-width: 1120px;
}
.header a {
  color: white;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 10%;
  text-decoration: none;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 16px 8px;
}
.footer-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 10;
}
.products-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  max-width: 1120px;
  margin: 5% auto;
  padding: 56px;
}
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 8px;
  align-self: center;
}
h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24.38px;
  letter-spacing: 3px;
  align-self: center;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 36px;
  padding-top: 3rem;
}
.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 46px 0 32px;
  /* width: 20.35vw;
  height: 440px; */
}

.product-img {
  width: 127px;
  height: 127px;
  border-radius: 50%;
}
.product-title {
  padding-top: 35px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
}
.product-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 0 33px;
}
.line {
  width: 23px;
  border-bottom: 3px solid white;
  margin: 16px auto;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.32vw;
  height: 52px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23.16px;
  letter-spacing: 1px;
  text-decoration: none;
}
