body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  gap: 1rem;
  font-weight: 900;
  font-size: 32px;
  color: white;
  text-align: center;
}

.containerA {
  background-color: #00e193;
}
.containerB {
  background-color: #ea9500;
}
.containerC {
  background-color: #82e100;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.containerD {
  background-color: #a800e6;
}
.containerE {
  background-color: #f100a0;
}
.containerF {
  background-color: #009ae4;
}
