* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
}
.container {
  background-image: url(./images/header_image.jpeg);
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
}

#header {
  display: flex;
  flex: 1;
}

.header-container a {
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  line-height: 23.16px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  gap: 40px;
}
.button {
  padding: 16px 32px;
  border-radius: 8px;
  background: rgba(225, 46, 96, 1);
}
h1 {
  width: 59vw;
  padding-top: 65px;
  padding-bottom: 58px;
  padding-left: 88px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60.95px;
}
.top-text-main-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 78px 60px;
  background-color: rgba(239, 93, 105, 1);
}
.top-text-main-inside {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 60px;
  padding: 60px 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 19px;
  line-height: 22.27px;
  color: rgba(0, 0, 0, 1);
}

.bottom-text-main-background {
  width: 100vw;
  padding: 127px 59px 128px 98px;
  background-color: rgba(252, 223, 225, 1);
}
.bottom-text-main-background img {
  max-width: 844px;
  max-height: 614px;
  border-radius: 8px;
  color: rgba(217, 217, 217, 1);
}
.bottom-text-main-inside {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 40px;
}
.bottom-text-main-inside p {
  padding: 65px 50px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 80px;
  background-color: black;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-logo-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 93px;
  height: 81px;
}
.footer-logo-container img {
  width: 50px;
  height: 50px;
}
.footer-logo-container p {
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 1px;
  padding-top: 16px;
}
.footer-icons-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: end;
  gap: 16px;
}
