.gallery-section {
  background: #eb57571a;
}

.gallery-section .gallery-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.gallery-section .content-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 26px 0;
}

.gallery-section .content-part img {
  width: 245px;
  height: 212px;
  object-fit: cover;
}
