.tickets-section {
  background: #f8f8f8;
}

.tickets-section .tickets-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.tickets-section .content-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tickets-section .content-part .ticket-block {
  background: #ffffff;
  box-shadow: 0px 0px 40px 0px #0000000d;
  width: 33.33%;
  max-width: 424px;
}
.tickets-section .content-part .ticket-block h3 {
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin: 32px 81px;
}

.tickets-section .content-part .ticket-block p {
  width: 67.34%;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 31px auto 27px;
}

.tickets-section .content-part .ticket-block .border-row {
  width: 100%;
  border: 1px solid #0000001a;
}

.tickets-section .content-part .ticket-block .price-block .price {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  max-width: 181px;
}

.tickets-section .content-part .ticket-block .price-block span {
  font-size: 26px;
  letter-spacing: 2px;
  color: #eb5757;
  margin-left: 14px;
}

.tickets-section .content-part .ticket-block .button {
  background: #eb5757;
  width: 48%;
  margin: 0 auto 39px;
  padding: 10.5px;
  text-align: center;
}

.tickets-section .content-part .ticket-block .button a {
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
}
